@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body default styles */
body {
  @apply bg-gray-50 text-gray-900 antialiased;
}

/* Smooth scrolling for better UX */
html {
  scroll-behavior: smooth;
}

/* Custom thin scrollbar for inner panels */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #EFD2B0;
  border-radius: 99px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #547792;
}